<!DOCTYPE>
<html>
  <head>
    <title>Ch&aacute;chara</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <script src="http://127.0.0.1:8080/socket.io/socket.io.js"></script>
    <script src="/javascripts/app.js"></script>
  </head>
  <body>
    <div id="primary-pane"><ul></ul>
      <div id="chat"><p>Connecting...</p></div>
      <form id="signin" onSubmit="connect(); return false" style="display:none">
        <input type="text" id="jid" value="@joy.yinkei.com"><br />
        <input type="password" id="password"><br />
        <input type="text" id="room" value="test@conference.joy.yinkei.com"><br />
        <input type="submit" value="Sign In">
      </form>
    </div>
    <div id="input-pane">
      <form id="form" onSubmit="send(); return false">
        <input type="text" autocomplete="off" id="text">
      </form>
    </div>
    <div id="secondary-pane"><ul></ul></div>
  </body>
</html>
