<!DOCTYPE>
<html>
  <head>
    <title>Ch&aacute;chara</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/lib/jquery-1.5.1.js"></script>
    <script src="/js/lib/underscore.js"></script>
    <script src="/js/lib/backbone.js"></script>
    <script src="/js/lib/embedly.js"></script>
    <script src="/js/chachara.js"></script>
    <script src="/js/chachara.client.js"></script>
    <script src="/js/chachara.signinview.js"></script>
    <script src="/js/chachara.chatview.js"></script>
    <script src="/js/chachara.secondaryview.js"></script>
    <script src="/js/chachara.messagehandler.js"></script>
    <script src="/js/chachara.application.js"></script>
    <script type="text/javascript">
    $(function() {
      Chachara.run();
    });
    </script>
  </head>

  <script type="template" id="signin-view-template">
    <div class="signin-view">
      <h1>Sign in</h1>
      <form>
        <div class="error"></div>
        <label>Jabber ID <input type="text" class="jid" value="@joy.yinkei.com"></label>
        <label>Password <input type="password" class="password"></label>
        <label>Room     <input type="text" name="rooms" value="black@conference.joy.yinkei.com,white@conference.joy.yinkei.com,test@conference.joy.yinkei.com" class="rooms"></label>
        <button class="connect">Connect to Server</button>
      </form>
    </div>
  </script>

  <script type="template" id="chat-view-room-template">
    <div class="chat-view">
      <div class="primary-pane"><ul></ul></div>
      <div class="participants-pane"><ul></ul></div>
      <div class="input-pane"><span class="current"></span><input type="text" class="chatinput" /></div>
    </div>
  </script>

  <script type="template" id="chat-view-template">
    <div id="chat-view-container"></div>
    <div id="secondary-view"><ul></ul></div>
  </script>

  <body>
    <div id="app"></div>
  </body>
</html>
