body { background: #000; color: #FFF; }
#primary-pane { width: 100%; height: 500px; border: 1px solid #fff; }
#input-pane { width: 100%; border: 1px solid #fff; }
#input-pane form { margin: 0;}
#input-pane input { padding: 5px; width: 100%; background: #111; border: none; color: #FFF; }

#secondary-pane { width: 100%; height: 220px; border: 1px solid #fff; }

#chat { padding: 5px; overflow: auto; width: 100%; height: 100%; font: 13px Helvetica, Arial; }
#chat p { line-height: 1.5em; margin: 0; }
#form { display: none; }
