body { background: #000; color: #FFF; }
#primary-pane { width: 100%; height: 500px; border: 1px solid #fff; }
#input-pane   { width: 100%; border: 1px solid #fff; }
#input-pane input { width: 100%; background: #222; border: none; color: #FFF; }
#secondary-pane { width: 100%; height: 250px; border: 1px solid #fff; }
